body {
  font-family: Arial, sans-serif;
  background-color: #a0e7e5;
  margin: 0;
  padding: 30px;
}
 nav {
    background-color: #f8f5f5; 
  }
  
  nav ul {
    list-style: none; 
    padding: 2;
    margin: 0;

  }
  
  nav ul li{
    display: inline-block;
    line-height: 5px;
    margin: 1px;
}

  
  nav ul li a {
    display: block;
    color: rgb(8, 8, 8);
    text-transform: uppercase;
    text-decoration: none; 
    text-shadow: 2px 2px 2px rgb(241, 119, 235);
    padding: 10px 60px; 
    border: 2px solid rgb(0, 0, 0);
  }
  
  p{
    font-family: serif;
    text-align: justify;
    font-size: 20px;
    margin: 10px;
  }


   
  h2{
    line-height: 30px;
    color:black  ;
  }

  footer{
    line-height: 60px;
    color:black  ;
    text-align: center;
  }

h2 {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    margin: 10px 7px;
}


  .pie-de-pagina {
    position: absolute; 
    bottom: -35%; 
    width: 80%; 
  }
  
  li a:hover{
    padding: 10px;
    color: rgb(255, 173, 252);
    transition: 5s;
    border: 1px solid;
    width: auto;
  }
  