body {

  background-color:rgb(126, 214, 241);
  
  }
nav {
  background-color: rgb(255, 255, 255);
 }

  
  nav ul {
    list-style: none; 
    padding: 2;
    margin: 0;
  }
  
  
  nav ul li{
    display: inline-block;
    line-height: 4px;
    margin: 1px;
}

  
  nav ul li a {
    display: block;
    color: rgb(8, 8, 8);
    text-transform: uppercase;
    text-decoration: none; 
    text-shadow: 5px 5px 5px rgb(255, 81, 183);
    padding: 10px 60px; 
    border: 1px solid rgb(22, 22, 22);
  }
  
  .foto {
    margin-top: 20px; /
  }
  
  p{
    font-family: serif;
    text-align: justify;
    font-size: 20px;
    margin: 10px;
  }


   
  h1 {
    line-height: 60px;
    color:black  ;
    text-align: center;
  }

  footer{
    line-height: 60px;
    color:black  ;
    text-align: center;
  }

  .esquina-superior-izquierda {
    position: absolute; 
    top: 10px; 
    left: 10px; 
  }
  
  .centro {
    position: absolute; 
    top: 64%; 
    left: 30%;
    transform: translate(-50%, -50%); 
  }

  .pie-de-pagina {
    position: absolute; 
    bottom: -3%;
    width: 60%; 
  }
  
  li a:hover{
    padding: 10px;
    color: rgb(255, 173, 252);
    transition: 5s;
    border: 1px solid;
    width: auto;
  }
  